/* Layout  da página */
main {
    margin-top: 10%;
}
label{
font-weight: bold;
color:
}
.container--edit {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 0.3fr 0.3fr 0.3fr 0.3fr 0.3fr ;
    grid-template-areas:"titulo titulo" "nome raca" "peso idade" "especie especie" "buttons buttons";
    grid-gap: 20px;
    align-content: center;
    justify-content: center;
}
.container--titulo{
    grid-area: titulo;
}
.container--nome {
    grid-area: nome;
}
.container--raca {
    grid-area: raca;
}

.container--peso {
    grid-area: peso;
}
.container--idade {
    grid-area: idade;
}

.container--espec {
    grid-area: especie;
}
.container--buttons{
    grid-area: buttons;
    display: flex;
    justify-content: end;
}
/* Estiliza button */
.container--buttons button{
    margin: 5px;
    font-size: 18px;
    font-weight: bold;
}
/* muda cor do hover button */
.container--buttons button:hover{
    color:#ffff;
}

