#test-container{
    display: grid;

    grid-template-columns: 3fr 2fr ;
    grid-template-rows: 50vh 50vh ;
     grid-template-areas: "n r" "p i" "e e";
     grid-gap: 20px;



}
.nomeanimal{
grid-area: n;
justify-self: center;
align-self: center;
}
.raça{
    grid-area: r;
}
.peso{
    grid-area: p;

}
.idade{
    grid-area: i;
}


.espec{
    grid-area: e;
}
